<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script src="https://www.paypalobjects.com/api/button.js?" data-merchant="braintree" data-id="paypal-button"
        data-button="checkout" data-color="gold" data-size="medium" data-shape="pill" data-button_type="submit"
        data-button_disabled="false"></script>
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/components/copy-button/copy-button.js"></script>
    <!-- En el archivo src/index.html -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>


<body>

    <div id="header">
        <h2 class="titulo">¡Hola de nuevo, {{nombre}}!</h2>
        <p id="descripcion">Te mostramos un resúmen del mes de {{mes}}</p>




    </div>

    <hr>


    <div style="padding-left: 5%;">





        <div class="contenedor1">



            <div id="buscar">

                <div id="columna1">
                    <label style="color: rgb(97, 94, 94); font-size: small;">
                        Tu total a pagar es de:
                    </label>

                    <h2>${{ total_deuda.toFixed(2) }} MXN</h2>
                </div>

            </div>






        </div>
 
 
        <div class="contenedor2">

            <label style="color: rgb(97, 94, 94); font-size: small;">
                últimos movimientos
            </label>

            <table class="table" width="100%" *ngIf="this.movimientos.length>0; else noencontrado">
                <tbody>
                    <tr tr mat-row matRowDef="columns: displayedcolumns;"
                        *ngFor="let mov of movimientos">
                        <td>{{ mov.cadena }}</td>
                    </tr>
                </tbody>
            </table>

            <ng-template #noencontrado>
                <div class="div-noen">
                    <img class="noencontrado"  src="./no.png" alt="hola">

                </div>
            </ng-template> 


        </div>






    <div class="contenedor3">
        <label style="color: rgb(97, 94, 94); font-size: small;">
            Generar y compartir código de uso único
        </label>

        <div class="generar-container" *ngIf="!isBlocked">
            <button class="green-button" (click)="generarToken()">Generar</button>
        </div>

        <div class="qr-container" *ngIf="!isBlocked">
            <img [src]="qrCodeDataUrl" alt="Presiona el Botón de Arriba para generar el código" #codigoQR>

            <p class="advertencia">Comparte solamente con la persona que necesita acceso. No compartas este código con
                desconocidos.</p>

            <button class="download-button" (click)="descargarCodigoQR()">Descargar</button>
        </div>


    </div>

    <div *ngIf="isBlocked" class="overlay">
        <p class="bloqueado-mensaje">Esta sección se encuentra temporalmente bloqueada por el administrador de la
            comunidad, comunicate con él para más información</p>
    </div>






    </div>





</body>